@page
@model AboutModel
@{
    ViewData["Title"] = "ABOUT ME";
}

<!DOCTYPE html>
<html>

<head>
    <link href="~/css/aboutMe.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h2><span>@ViewData["Title"]</span></h2>
    <!--<h3@Model.Message</h3>-->

    <p>I am a passionate computer science student with gt curiosity in my field. I<br /> have a large
    repertoire of computing skills. I am from Lucknow, India. In 2016,</br> I moved to Rochester, NY to
    a Bachelors degree in Computer Science at the <br />Rochester Institute of Technology.
    At RIT, I strive to learn as much as I can<br /> through interactions with peers, professors and by taking a 
    full coarse load.<br /> In addition, I am an actively engaged voice on campus allowing me
    to make<br /> the most of my experience at RIT.<br />
    <br />

    Sometimes being highly involved in academics can be extremely taxing.<br /> Therefore, I ensure to
    keep myself involved in extra-curricular activites, both on<br /> and off campus. Some of my sporting
    interests include soccer, badminton and<br /> racquetball. I have been an avid F.C. Barcelona fan for
    5 years now, so if you ever <br /> to chat about code, soccer or anything else, do not hesitate to
    reach out!</p>

</body>
</html>
