@page
@model ExperienceModel
@{
    ViewData["Title"] = "EXPERIENCE";
}

<!DOCTYPE html>
<html>

<head>
    <link href="~/css/Experience.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h2><span>@ViewData["Title"]</span></h2>

    <div>
        <img src="http://placehold.it/100x100" alt="" />
        <img src="http://placehold.it/100x100" alt="" />
        <img src="http://placehold.it/100x100" alt="" />
    </div>


</body>
</html>
